Repository kirbydesign/designsystem, pull requests merged in 2019-09, with the labels that each got.

#569 Fix size of outline and placement of icon in EmptyState
  src/kirby/components/empty-state/empty-state.component.scss
  src/kirby/components/empty-state/empty-state.component.tns.scss
Labels: bug, component:Empty State

#610 :bug: Removing unused ViewContainerRef from ModalController.
  src/kirby/components/modal/services/action-sheet.helper.ts
  src/kirby/components/modal/services/modal.controller.ts
  src/kirby/components/modal/services/modal.helper.ts
Labels: bug, component:Modal

#614 [Clean up] Remove ViewContainerRef
  src/app/examples/action-sheet-example/action-sheet-example.component.ts
  src/app/examples/alert-example/alert-example.component.ts
  src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.ts
  src/app/examples/modal-example/modal-example.component.ts
  src/kirby/components/modal/services/action-sheet.helper.ts
  src/kirby/components/modal/services/modal.controller.interface.ts
  src/kirby/components/modal/services/modal.controller.ts
  src/kirby/components/shared/component-loader.directive.ts
Labels: BREAKING CHANGE, component:Action Sheet, component:Alert, component:Modal

#554 Enhancement / Moving FAB to Button
  src/app/examples/button-example/button-example.component.html
  src/app/examples/button-example/button-example.component.scss
  src/app/examples/examples.common.ts
  src/app/examples/examples.routes.ts
  src/app/examples/floating-action-button-example/floating-action-button-example.component.html
  src/app/examples/floating-action-button-example/floating-action-button-example.component.scss
  src/app/examples/floating-action-button-example/floating-action-button-example.component.spec.ts
  src/app/examples/floating-action-button-example/floating-action-button-example.component.ts
  src/app/page/side-nav/side-nav.component.html
  src/app/showcase/button-showcase/button-showcase.component.ts
  src/app/showcase/floating-action-button-showcase/floating-action-button-showcase.component.html
  src/app/showcase/floating-action-button-showcase/floating-action-button-showcase.component.spec.ts
  src/app/showcase/floating-action-button-showcase/floating-action-button-showcase.component.ts
  src/app/showcase/showcase.common.ts
  src/app/showcase/showcase.routes.ts
  src/kirby/components/button/button.component.scss
  src/kirby/components/button/button.component.ts
  src/kirby/components/floating-action-button/floating-action-button.component.html
  src/kirby/components/floating-action-button/floating-action-button.component.scss
  src/kirby/components/floating-action-button/floating-action-button.component.spec.ts
  src/kirby/components/floating-action-button/floating-action-button.component.ts
  src/kirby/components/modal/modal-wrapper/modal-wrapper.component.html
  src/kirby/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  src/kirby/kirby.common.ts
Labels: BREAKING CHANGE, component:Button, help wanted
