Repository kirbydesign/designsystem, pull requests merged in 2019-08, with the labels that each got.

#466 enhancement/action-sheet-improvements
  src/kirby/components/card/card-header/card-header.component.html
  src/kirby/components/card/card-header/card-header.component.scss
  src/kirby/components/card/card-header/card-header.component.tns.html
  src/kirby/components/card/card-header/card-header.component.tns.scss
  src/kirby/components/card/card-header/card-header.component.ts
  src/kirby/components/modal/action-sheet/action-sheet.component.html
  src/kirby/components/modal/action-sheet/action-sheet.component.scss
  src/kirby/components/modal/action-sheet/action-sheet.component.spec.ts
  src/kirby/components/modal/action-sheet/action-sheet.component.tns.html
  src/kirby/components/modal/action-sheet/action-sheet.component.tns.scss
Labels: component:Action Sheet

#480 Fix: renamed verify icon
  src/kirby/components/icon/kirby-icon-settings.ts
  src/kirby/components/icon/selection.json
  src/kirby/icons/fonts/kirby.ttf
  src/kirby/icons/svg/verify.svg
Labels: component:Icon

#476 Enhancement/modal flavors
  src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.html
  src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.tns.html
  src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.ts
  src/app/examples/modal-example/modal-example.component.html
  src/app/examples/modal-example/modal-example.component.tns.html
  src/app/examples/modal-example/modal-example.component.ts
  src/app/showcase/modal-showcase/modal-showcase.component.html
  src/app/showcase/modal-showcase/modal-showcase.component.ts
  src/kirby/components/modal/modal-wrapper/config/drawer-supplementary-action.ts
  src/kirby/components/modal/modal-wrapper/config/modal-config.helper.spec.ts
  src/kirby/components/modal/modal-wrapper/config/modal-config.helper.ts
  src/kirby/components/modal/modal-wrapper/config/modal-config.ts
  src/kirby/components/modal/modal-wrapper/modal-wrapper.component.html
  src/kirby/components/modal/modal-wrapper/modal-wrapper.component.scss
  src/kirby/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  src/kirby/components/modal/modal-wrapper/modal-wrapper.component.tns.html
  src/kirby/components/modal/modal-wrapper/modal-wrapper.component.tns.scss
  src/kirby/components/modal/modal-wrapper/modal-wrapper.component.tns.ts
  src/kirby/components/modal/modal-wrapper/modal-wrapper.component.ts
  src/kirby/components/modal/services/modal.helper.ts
Labels: BREAKING CHANGE, component:Modal

#483 Enhancement/update card margins
  src/app/examples/card-example/card-example.component.tns.scss
  src/kirby/components/card/card.component.tns.html
  src/kirby/components/card/card.component.tns.scss
Labels: BREAKING CHANGE, component:Card

#454 feat(card, web, native): card padding input
  src/app/examples/card-example/card-example.component.html
  src/app/examples/card-example/card-example.component.scss
  src/app/examples/card-example/card-example.component.tns.html
  src/app/showcase/card-showcase/card-showcase.component.ts
  src/kirby/components/card/card.common.ts
  src/kirby/components/card/card.component.scss
  src/kirby/components/card/card.component.tns.html
  src/kirby/components/card/card.component.tns.scss
  src/kirby/components/card/card.component.tns.ts
  src/kirby/components/card/card.component.ts
Labels: BREAKING CHANGE, component:Card

#452 feat(list, web, native): select list row
  src/app/designer/card-designer/card-designer.component.spec.ts
  src/app/examples/list/base-list.component.ts
  src/app/examples/list/list-custom-cell-lines-example/list-custom-cell-lines-example.component.tns.html
  src/app/examples/list/list-example.component.html
  src/app/examples/list/load-on-demand/list-load-on-demand-example.component.tns.html
  src/app/examples/nativescript-only/list-section-example/list-section-example.component.tns.html
  src/app/examples/nativescript-only/list-section-example/list-section-example.component.tns.scss
  src/kirby/components/list/list-cell-line/list-cell-line.component.tns.html
  src/kirby/components/list/list-cell-line/list-cell-line.component.tns.scss
  src/kirby/components/list/list-cell-line/list-cell-line.component.tns.ts
  src/kirby/components/list/list-cell-line/list-cell-line.component.ts
  src/kirby/components/list/list-item/list-item.interface.ts
  src/kirby/components/list/list.component.html
  src/kirby/components/list/list.component.scss
  src/kirby/components/list/list.component.spec.ts
  src/kirby/components/list/list.component.tns.global.scss
  src/kirby/components/list/list.component.tns.html
  src/kirby/components/list/list.component.tns.scss
  src/kirby/components/list/list.component.ts
  src/kirby/components/modal/action-sheet/action-sheet.component.spec.ts
  src/kirby/helpers/guid-helper.ts
  src/kirby/scss/native/_native-common.scss
Labels: component:List

#486 Enhancement/Combine Segmented Components
  src/app/examples/examples.common.ts
  src/app/examples/examples.routes.ts
  src/app/examples/segmented-chip-control-example/segmented-chip-control-example.component.html
  src/app/examples/segmented-chip-control-example/segmented-chip-control-example.component.scss
  src/app/examples/segmented-chip-control-example/segmented-chip-control-example.component.tns.html
  src/app/examples/segmented-chip-control-example/segmented-chip-control-example.component.tns.scss
  src/app/examples/segmented-chip-control-example/segmented-chip-control-example.component.ts
  src/app/examples/segmented-control-example/segmented-control-example.component.html
  src/app/examples/segmented-control-example/segmented-control-example.component.scss
  src/app/examples/segmented-control-example/segmented-control-example.component.tns.html
  src/app/examples/segmented-control-example/segmented-control-example.component.tns.scss
  src/app/examples/segmented-control-example/segmented-control-example.component.ts
  src/app/intro/intro.component.tns.html
  src/app/page/side-nav/side-nav.component.html
  src/app/showcase/segmented-chip-control-showcase/segmented-chip-control-showcase.component.html
  src/app/showcase/segmented-chip-control-showcase/segmented-chip-control-showcase.component.scss
  src/app/showcase/segmented-chip-control-showcase/segmented-chip-control-showcase.component.spec.ts
  src/app/showcase/segmented-chip-control-showcase/segmented-chip-control-showcase.component.ts
  src/app/showcase/segmented-control-showcase/segmented-control-showcase.component.html
  src/app/showcase/segmented-control-showcase/segmented-control-showcase.component.ts
  src/app/showcase/showcase.common.ts
  src/app/showcase/showcase.routes.ts
  src/kirby/components/segment/segmented-chip-control/segmented-chip-control.component.html
  src/kirby/components/segment/segmented-chip-control/segmented-chip-control.component.scss
  src/kirby/components/segment/segmented-chip-control/segmented-chip-control.component.spec.ts
  src/kirby/components/segment/segmented-chip-control/segmented-chip-control.component.tns.html
  src/kirby/components/segment/segmented-chip-control/segmented-chip-control.component.tns.scss
  src/kirby/components/segment/segmented-chip-control/segmented-chip-control.component.ts
  src/kirby/components/segmented-control/segment-item.ts
  src/kirby/components/segmented-control/segmented-control.component.html
  src/kirby/components/segmented-control/segmented-control.component.scss
  src/kirby/components/segmented-control/segmented-control.component.spec.ts
  src/kirby/components/segmented-control/segmented-control.component.tns.html
  src/kirby/components/segmented-control/segmented-control.component.tns.scss
  src/kirby/components/segmented-control/segmented-control.component.ts
  src/kirby/index.ts
  src/kirby/kirby.common.ts
Labels: BREAKING CHANGE, component:Segmented Chip Control, component:Segmented Control

#489 Enhancement/Card Padding
  src/kirby/components/card/card.component.scss
Labels: component:Card

#487 Enhancement/Refactor Empty State
  src/app/examples/icon-example/icon-example.component.html
  src/app/examples/icon-example/icon-example.component.tns.html
  src/app/examples/icon-example/icon-example.component.ts
  src/kirby/components/empty-state/empty-state.component.html
  src/kirby/components/empty-state/empty-state.component.scss
  src/kirby/components/empty-state/empty-state.component.tns.html
  src/kirby/components/empty-state/empty-state.component.tns.scss
  src/kirby/components/icon/_icon.component.shared.scss
  src/kirby/components/icon/icon.component.html
  src/kirby/components/icon/icon.component.scss
  src/kirby/components/icon/icon.component.tns.global.scss
  src/kirby/components/icon/icon.component.ts
Labels: BREAKING CHANGE, component:Empty State, component:Icon

#502 fix(changelog): unsubscribe changelog changes correctly
  src/app/changelog/changelog.component.ts
Labels: bug

#505 Typography line height
  src/kirby/components/chip/chip.component.scss
  src/kirby/scss/base/_settings.scss
  src/kirby/scss/base/_typography.scss
Labels: BREAKING CHANGE

#517 Fix/Modal Animation
  src/kirby/components/modal/modal-wrapper/modal-wrapper.component.tns.ts
Labels: bug, component:Modal

#523 Fix / Icon name typo
  src/app/examples/nativescript-only/list-section-example/list-section-example.component.tns.html
Labels: bug

#535 Enhancement/Button with Icon
  src/app/examples/button-example/button-example.component.html
  src/app/examples/button-example/button-example.component.spec.ts
  src/app/examples/button-example/button-example.component.tns.html
  src/app/examples/button-example/button-example.component.ts
  src/app/showcase/button-showcase/button-showcase.component.ts
  src/kirby/components/button/button.component.html
  src/kirby/components/button/button.component.scss
  src/kirby/components/button/button.component.spec.ts
  src/kirby/components/button/button.component.tns.global.scss
  src/kirby/components/button/button.component.tns.html
  src/kirby/components/button/button.component.ts
  src/kirby/components/icon/icon.component.tns.global.scss
  src/kirby/components/icon/selection.json
  src/kirby/components/modal/action-sheet/action-sheet.component.spec.ts
Labels: component:Button

#541 fix(card): alignment
  src/app/examples/card-example/card-example.component.tns.html
  src/kirby/components/card/card.component.tns.scss
Labels: component:Card

#565 fix(card): removed min height
  src/kirby/components/card/card.component.scss
Labels: component:Card

#557 style(chip): corrected colours and fixed minor bugs
  src/app/examples/chip-example/chip-example.component.tns.html
  src/app/examples/chip-example/chip-example.component.ts
  src/kirby/components/chip/chip.component.scss
  src/kirby/components/chip/chip.component.tns.global.scss
Labels: component:Segmented Chip Control

#511 Fix/List Item Click
  src/kirby/components/list/list.component.html
  src/kirby/components/list/list.component.ts
Labels: component:List

#512 fix: aligned card margin
  src/kirby/components/card/card.component.tns.html
  src/kirby/components/card/card.component.tns.scss
Labels: component:Card

#567 enhancement(button): added min-width on lg buttons
  src/kirby/components/button/button.component.scss
  src/kirby/components/button/button.component.tns.global.scss
Labels: component:Button

#562 fix(button): button text on native now shows
  src/kirby/components/button/button.component.tns.html
Labels: component:Button

#522 Enhancement/Invoke function on view loaded abstraction
  src/kirby/components/modal/modal-wrapper/modal-wrapper.component.tns.ts
  src/kirby/directives/nativescript-only/elevation/elevation.directive.tns-only.ts
  src/kirby/directives/vertical-text-alignment/vertical-text-alignment.directive.tns-only.ts
  src/kirby/helpers/view-helper.tns-only.ts
Labels: enhancement

#561 fix(action-sheet): animations
  src/kirby/components/modal/action-sheet/action-sheet.component.tns.html
  src/kirby/components/modal/action-sheet/action-sheet.component.tns.ts
  src/kirby/components/modal/modal-wrapper/modal-wrapper.component.tns.ts
  src/kirby/components/modal/nativescript-animations/animations.helper.tns-only.ts
Labels: component:Action Sheet
