Repository kirbydesign/designsystem, pull requests merged in 2020-03, with the labels that each got.

#899 Feature/dropdown
  src/app/examples/dropdown-example/dropdown-example.component.html
  src/app/examples/dropdown-example/dropdown-example.component.scss
  src/app/examples/dropdown-example/dropdown-example.component.ts
  src/app/examples/dropdown-example/dropdown-example.module.ts
  src/app/examples/dropdown-example/examples/attention-level.ts
  src/app/examples/dropdown-example/examples/custom-item-template.ts
  src/app/examples/dropdown-example/examples/default.ts
  src/app/examples/dropdown-example/examples/expand.ts
  src/app/examples/dropdown-example/examples/item-select.ts
  src/app/examples/dropdown-example/examples/ng-forms.ts
  src/app/examples/dropdown-example/examples/pre-selected.ts
  src/app/examples/dropdown-example/examples/scroll.ts
  src/app/examples/examples.common.ts
  src/app/examples/examples.module.ts
  src/app/examples/examples.routes.ts
  src/app/page/side-nav/side-nav.component.html
  src/app/shared/example-viewer/example-viewer.component.html
  src/app/shared/example-viewer/example-viewer.component.ts
  src/app/showcase/dropdown-showcase/dropdown-showcase.component.html
  src/app/showcase/dropdown-showcase/dropdown-showcase.component.scss
  src/app/showcase/dropdown-showcase/dropdown-showcase.component.ts
  src/app/showcase/showcase.common.ts
  src/app/showcase/showcase.routes.ts
  src/kirby/components/button/button.component.integration.spec.ts
  src/kirby/components/button/button.component.scss
  src/kirby/components/dropdown/dropdown.component.html
  src/kirby/components/dropdown/dropdown.component.scss
  src/kirby/components/dropdown/dropdown.component.spec.ts
  src/kirby/components/dropdown/dropdown.component.ts
  src/kirby/components/form-field/form-field.component.html
  src/kirby/kirby.common.ts
  src/kirby/scss/base/_variables.scss
  src/kirby/testing/kirby-testing.module.ts
Labels: component:Dropdown

#945 Feature/reorder
  src/app/examples/examples.common.ts
  src/app/examples/examples.routes.ts
  src/app/examples/reorder-list/reorder-list-example.component.html
  src/app/examples/reorder-list/reorder-list-example.component.scss
  src/app/examples/reorder-list/reorder-list-example.component.ts
  src/app/page/side-nav/side-nav.component.html
  src/app/showcase/reorder-list-showcase/reorder-list-showcase.component.html
  src/app/showcase/reorder-list-showcase/reorder-list-showcase.component.scss
  src/app/showcase/reorder-list-showcase/reorder-list-showcase.component.ts
  src/app/showcase/showcase.common.ts
  src/app/showcase/showcase.routes.ts
  src/kirby/components/icon/kirby-icon-settings.ts
  src/kirby/components/item/item.component.html
  src/kirby/components/item/item.component.scss
  src/kirby/components/item/item.component.spec.ts
  src/kirby/components/item/item.component.ts
  src/kirby/components/item/item.module.ts
  src/kirby/components/reorder-list/reorder-list.component.html
  src/kirby/components/reorder-list/reorder-list.component.scss
  src/kirby/components/reorder-list/reorder-list.component.spec.ts
  src/kirby/components/reorder-list/reorder-list.component.ts
  src/kirby/icons/svg/reorder.svg
  src/kirby/kirby.common.ts
Labels: component:Reorder-list

#954 Fix/reorder list
  apps/cookbook/src/app/examples/reorder-list/reorder-list-example.component.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/components/reorder-list/index.ts
  libs/designsystem/src/lib/components/reorder-list/reorder-event.ts
  libs/designsystem/src/lib/components/reorder-list/reorder-list.component.html
  libs/designsystem/src/lib/components/reorder-list/reorder-list.component.scss
  libs/designsystem/src/lib/components/reorder-list/reorder-list.component.spec.ts
  libs/designsystem/src/lib/components/reorder-list/reorder-list.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.reorder-list.component.ts
Labels: bug, component:Reorder-list

#961 :memo: Update Kirby intro
  apps/cookbook/src/app/intro/intro.component.html
  apps/cookbook/src/app/intro/intro.component.scss
  apps/cookbook/src/assets/images/kirby-components-w1020.png
  apps/cookbook/src/assets/images/kirby-components-w375.png
  apps/cookbook/src/assets/images/kirby-components-w700.png
  apps/cookbook/src/assets/images/kirby-components-w800.png
  apps/cookbook/src/assets/kirby/hero-image.png
Labels: cookbook

#962 :lipstick: Speed up drawer anim
  libs/designsystem/src/lib/components/modal/services/modal.helper.ts
Labels: component:Modal

#981 Fix/segmented control
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.html
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.spec.ts
  libs/designsystem/src/lib/components/segmented-control/segmented-control.component.ts
Labels: bug, component:Segmented Control
