Repository kirbydesign/designsystem, pull requests merged in 2020-08, with the labels that each got.

#1116 fix(page): ensure .toolbar-title has text-overflow ellipsis
  libs/designsystem/src/lib/components/page/page.component.scss
Labels: bug, component:Page

#1111 1109 modal footer bg
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.html
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.html
  apps/cookbook/src/app/showcase/modal-showcase/modal-showcase.component.ts
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.scss
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.spec.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/src/lib/directives/theme-color/theme-color.directive.ts
Labels: component:Modal, enhancement

#1112 Addressing a TODO regarding the use of !important styling rules
  libs/designsystem/src/lib/components/form-field/_form-field-inputs.shared.scss
  libs/designsystem/src/lib/components/form-field/input/input.component.integration.spec.ts
  libs/designsystem/src/lib/components/form-field/input/input.component.scss
  libs/designsystem/src/lib/components/item/item.component.scss
Labels: component:Input, component:Item
