Repository kirbydesign/designsystem, pull requests merged in 2020-12, with the labels that each got.

#1206 Feature/Accordion
  apps/cookbook/src/app/examples/accordion-example/accordion-example.component.html
  apps/cookbook/src/app/examples/accordion-example/accordion-example.component.ts
  apps/cookbook/src/app/examples/accordion-example/accordion-example.module.ts
  apps/cookbook/src/app/examples/accordion-example/examples/card.ts
  apps/cookbook/src/app/examples/accordion-example/examples/default.ts
  apps/cookbook/src/app/examples/accordion-example/examples/expanded.ts
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/page/side-nav/side-nav.component.html
  apps/cookbook/src/app/showcase/accordion-showcase/accordion-showcase.component.html
  apps/cookbook/src/app/showcase/accordion-showcase/accordion-showcase.component.scss
  apps/cookbook/src/app/showcase/accordion-showcase/accordion-showcase.component.ts
  apps/cookbook/src/app/showcase/showcase.common.ts
  apps/cookbook/src/app/showcase/showcase.routes.ts
  libs/designsystem/src/lib/components/accordion/accordion-item.component.html
  libs/designsystem/src/lib/components/accordion/accordion-item.component.scss
  libs/designsystem/src/lib/components/accordion/accordion-item.component.spec.ts
  libs/designsystem/src/lib/components/accordion/accordion-item.component.ts
  libs/designsystem/src/lib/components/accordion/accordion.directive.ts
  libs/designsystem/src/lib/components/accordion/index.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/testing-base/src/lib/components/mock.accordion-item.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.expandable.component.ts
  libs/designsystem/testing-base/src/lib/mock-components.ts
Labels: component:Accordion, cookbook, enhancement

#1227 Update navigation menu to be alphabetical and grouped better
  apps/cookbook/src/app/page/side-nav/side-nav.component.html
Labels: cookbook

#1202 Fix attention level 3 button losing border on focus
  libs/designsystem/src/lib/components/button/button.component.scss
Labels: T3, bug, component:Button, good first issue

#1229 Checkbox enhancements
  apps/cookbook/src/app/examples/checkbox-example/checkbox-example.component.html
  apps/cookbook/src/app/examples/checkbox-example/checkbox-example.component.scss
  apps/cookbook/src/app/examples/checkbox-example/checkbox-example.component.ts
  apps/cookbook/src/app/examples/checkbox-example/checkbox-example.module.ts
  apps/cookbook/src/app/examples/checkbox-example/examples/confirm.ts
  apps/cookbook/src/app/examples/checkbox-example/examples/default.ts
  apps/cookbook/src/app/examples/checkbox-example/examples/events.ts
  apps/cookbook/src/app/examples/checkbox-example/examples/list.ts
  apps/cookbook/src/app/examples/checkbox-example/examples/states.ts
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/showcase/checkbox-showcase/checkbox-showcase.component.html
  apps/cookbook/src/app/showcase/checkbox-showcase/checkbox-showcase.component.scss
  apps/cookbook/src/app/showcase/checkbox-showcase/checkbox-showcase.component.ts
  libs/designsystem/package.json
  libs/designsystem/src/lib/components/checkbox/checkbox.component.html
  libs/designsystem/src/lib/components/checkbox/checkbox.component.scss
  libs/designsystem/src/lib/components/checkbox/checkbox.component.spec.ts
  libs/designsystem/src/lib/components/checkbox/checkbox.component.ts
  libs/designsystem/src/lib/components/item/label/label.component.html
  libs/designsystem/src/lib/components/item/label/label.component.scss
  libs/designsystem/src/lib/helpers/color-helper.ts
  libs/designsystem/src/lib/helpers/design-token-helper.ts
  libs/designsystem/src/lib/scss/themes/_colors.scss
  libs/designsystem/src/lib/testing/element-css-custom-matchers.ts
  libs/designsystem/testing-base/src/lib/components/mock.checkbox.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.expandable.component.ts
  package-lock.json
  package.json
Labels: T3, component:Checkbox

#1233 Fix/checkbox sizing
  apps/cookbook/src/app/examples/checkbox-example/checkbox-example.component.html
  apps/cookbook/src/app/examples/checkbox-example/checkbox-example.component.ts
  apps/cookbook/src/app/examples/checkbox-example/checkbox-example.module.ts
  apps/cookbook/src/app/examples/checkbox-example/examples/events.ts
  apps/cookbook/src/app/examples/checkbox-example/examples/list.ts
  apps/cookbook/src/app/examples/checkbox-example/examples/sizes.scss
  apps/cookbook/src/app/examples/checkbox-example/examples/sizes.ts
  apps/cookbook/src/app/examples/checkbox-example/examples/states.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/ng-forms.ts
  apps/cookbook/src/app/examples/form-field-example/examples/input/focus.ts
  apps/cookbook/src/app/examples/form-field-example/form-field-example.component.html
  apps/cookbook/src/app/examples/form-field-example/form-field-example.component.scss
  apps/cookbook/src/app/examples/form-field-example/form-field-example.component.ts
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.html
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.scss
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.html
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.scss
  apps/cookbook/src/app/examples/modal-example/modal-example-configuration/modal-example-configuration.component.ts
  apps/cookbook/src/app/showcase/calendar-showcase/calendar-showcase.component.html
  apps/cookbook/src/app/showcase/calendar-showcase/calendar-showcase.component.scss
  apps/cookbook/src/app/showcase/checkbox-showcase/checkbox-showcase.component.html
  apps/cookbook/src/app/showcase/checkbox-showcase/checkbox-showcase.component.scss
  apps/cookbook/src/app/showcase/checkbox-showcase/checkbox-showcase.component.ts
  apps/cookbook/src/app/showcase/fab-sheet-showcase/fab-sheet-showcase.component.html
  apps/cookbook/src/app/showcase/fab-sheet-showcase/fab-sheet-showcase.component.scss
  libs/designsystem/src/lib/components/checkbox/checkbox.component.html
  libs/designsystem/src/lib/components/checkbox/checkbox.component.integration.spec.ts
  libs/designsystem/src/lib/components/checkbox/checkbox.component.scss
  libs/designsystem/src/lib/components/checkbox/checkbox.component.spec.ts
  libs/designsystem/src/lib/components/checkbox/checkbox.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.checkbox.component.ts
Labels: bug, component:Checkbox, cookbook
