Repository kirbydesign/designsystem, pull requests merged in 2020-09, with the labels that each got.

#1125 feat(tabs): add tabsservice which exhibits the outlets of tabs
  apps/cookbook/src/app/showcase/tabs-showcase/tabs-showcase.component.html
  apps/cookbook/src/app/showcase/tabs-showcase/tabs-showcase.component.ts
  libs/designsystem/src/lib/components/tabs/index.ts
  libs/designsystem/src/lib/components/tabs/tabs.component.ts
  libs/designsystem/src/lib/components/tabs/tabs.module.ts
  libs/designsystem/src/lib/components/tabs/tabs.service.ts
Labels: component:Tabs, enhancement

#1137 enable-swipeactions-for-touch-devices
  libs/designsystem/src/lib/components/item/item.component.integration.spec.ts
  libs/designsystem/src/lib/components/list/list.component.spec.ts
  libs/designsystem/src/lib/components/list/list.component.ts
  libs/designsystem/src/lib/helpers/di.ts
  libs/designsystem/src/lib/helpers/index.ts
  libs/designsystem/src/lib/kirby.module.ts
Labels: component:List

#1140 Fix/code viewer - cookbook performance
  apps/cookbook/src/app/shared/code-viewer/code-viewer.component.ts
Labels: cookbook
