Repository kirbydesign/designsystem, pull requests merged in 2020-01, with the labels that each got.

#859 fix(input): fixed default value of counter when used with late binding
  src/kirby/components/form-field/input/input.component.ts
Labels: bug, component:Form Field

#870 Perf/performance update to kirby list
  src/kirby/components/list/directives/infinite-scroll.directive.spec.ts
  src/kirby/components/list/directives/infinite-scroll.directive.ts
  src/kirby/components/list/list.component.html
  src/kirby/components/list/list.component.ts
Labels: component:List

#847 Items in multiple sizes (normal, small and tiny)
  src/app/examples/item-example/examples/simple/default-md.ts
  src/app/examples/item-example/examples/simple/default-sm.ts
  src/app/examples/item-example/examples/simple/default-xs.ts
  src/app/examples/item-example/item-example.module.ts
  src/app/showcase/item-showcase/item-showcase.component.html
  src/app/showcase/item-showcase/item-showcase.component.scss
  src/kirby/components/item/item.component.scss
  src/kirby/directives/size/size.directive.ts
Labels: component:Item, enhancement

#897 enhancement/timeseries
  src/app/examples/chart-example/chart-example.component.html
  src/app/examples/chart-example/chart-example.component.ts
  src/kirby/components/chart/chart-type.ts
  src/kirby/components/chart/chart.component.ts
  src/kirby/components/chart/options/timeseries.ts
Labels: component:Chart, enhancement
