Repository kirbydesign/designsystem, pull requests merged in 2020-11, with the labels that each got.

#1149 Modal sizing (iPad & Larger Screens)
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.html
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.ts
  libs/designsystem/src/lib/animation/kirby-animation.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.component.spec.ts
  libs/designsystem/src/lib/components/loading-overlay/loading-overlay.component.scss
  libs/designsystem/src/lib/components/modal/modal-wrapper/config/modal-config.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.html
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.testbuilder.ts
  libs/designsystem/src/lib/components/modal/services/modal-animation-builder.service.ts
  libs/designsystem/src/lib/components/modal/services/modal.helper.spec.ts
  libs/designsystem/src/lib/components/modal/services/modal.helper.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/src/lib/scss/_global-styles.scss
  libs/designsystem/src/lib/scss/base/_variables.scss
  libs/designsystem/src/lib/testing/test-helper.ts
  package.json
Labels: BREAKING CHANGE, component:Modal

#1180 Feature/slides
  apps/cookbook/src/app/examples/examples.common.ts
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/slides-example/example-card-content.ts
  apps/cookbook/src/app/examples/slides-example/slides-example.component.html
  apps/cookbook/src/app/examples/slides-example/slides-example.component.ts
  apps/cookbook/src/app/page/side-nav/side-nav.component.html
  apps/cookbook/src/app/showcase/showcase.common.ts
  apps/cookbook/src/app/showcase/showcase.routes.ts
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.html
  apps/cookbook/src/app/showcase/slides-showcase/slides-showcase.component.ts
  libs/designsystem/src/lib/components/card/card.component.scss
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/components/slides/slides.component.spec.ts
  libs/designsystem/src/lib/components/slides/slides.component.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/testing-base/src/lib/components/mock.slides.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.toggle-button.component.ts
Labels: component:Slides

#1204 Fix/modal footer animation
  apps/cookbook/src/app/examples/examples.component.scss
  apps/cookbook/src/app/examples/examples.component.ts
  apps/cookbook/src/app/examples/modal-example/first-embedded-modal-example/first-embedded-modal-example.component.html
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.scss
  libs/designsystem/src/lib/components/modal/footer/modal-footer.component.spec.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.spec.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.ts
  libs/designsystem/src/lib/helpers/design-token-helper.ts
  libs/designsystem/src/lib/scss/_global-styles.scss
  libs/designsystem/src/lib/scss/base/_variables.scss
Labels: bug, component:Modal
