Repository kirbydesign/designsystem, pull requests merged in 2020-07, with the labels that each got.

#1057 Make back buttons on Page bigger
  libs/designsystem/src/lib/components/button/button.component.integration.spec.ts
  libs/designsystem/src/lib/components/button/button.component.scss
  libs/designsystem/src/lib/components/page/page.component.scss
  libs/designsystem/src/lib/components/page/page.component.spec.ts
  libs/designsystem/src/lib/helpers/design-token-helper.ts
  libs/designsystem/src/lib/scss/base/_variables.scss
Labels: component:Page

#1083 Fix infinite scroll in modal
  libs/designsystem/src/lib/components/list/directives/infinite-scroll.directive.ts
  libs/designsystem/src/lib/components/list/helpers/list-helper.ts
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.html
Labels: component:List, enhancement

#1082 Small Dropdown
  apps/cookbook/src/app/examples/dropdown-example/dropdown-example-configuration-component/dropdown-example-configuration.component.html
  apps/cookbook/src/app/examples/dropdown-example/dropdown-example-configuration-component/dropdown-example-configuration.component.scss
  apps/cookbook/src/app/examples/dropdown-example/dropdown-example-configuration-component/dropdown-example-configuration.component.ts
  apps/cookbook/src/app/examples/dropdown-example/dropdown-example.component.html
  apps/cookbook/src/app/examples/dropdown-example/dropdown-example.component.ts
  apps/cookbook/src/app/examples/dropdown-example/dropdown-example.module.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/attention-level.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/custom-item-template.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/default.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/expand.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/item-select.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/ng-forms.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/pre-selected.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/right-aligned.ts
  apps/cookbook/src/app/examples/dropdown-example/examples/scroll.ts
  apps/cookbook/src/app/showcase/dropdown-showcase/dropdown-showcase.component.html
  apps/cookbook/src/app/showcase/dropdown-showcase/dropdown-showcase.component.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.component.html
  libs/designsystem/src/lib/components/dropdown/dropdown.component.spec.ts
  libs/designsystem/src/lib/components/dropdown/dropdown.component.ts
  libs/designsystem/testing-base/src/lib/components/mock.dropdown.component.ts
Labels: component:Dropdown

#1098 fix(fab-sheet): add example of fab-sheet inside tabs, revert backdrop to be applied inside fab sheet
  apps/cookbook/src/app/examples/tabs/tab/tab-example.component.ts
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.html
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.scss
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.ts
  libs/designsystem/src/lib/scss/_global-styles.scss
Labels: bug, component:FAB Sheet

#1101 fix(fab-sheet): set overflow visible to .tabs-inner, .ion-router-outlet and .ion-page when fab sheet is active due to iOS
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.ts
  libs/designsystem/src/lib/scss/_global-styles.scss
Labels: bug, component:FAB Sheet

#1102 fix(list): ensure round corners at iOS, before round corners could disappear when rotating an iPad in special scenarios
  libs/designsystem/src/lib/components/list/list.component.scss
Labels: bug, component:List
