Repository kirbydesign/designsystem, pull requests merged in 2021-12, with the labels that each got.

#1913 Prevented use of bold text in detail elements on item-selection
  libs/designsystem/src/lib/components/item/item.component.integration.spec.ts
  libs/designsystem/src/lib/components/item/label/label.component.scss
  libs/designsystem/src/lib/components/list/list.component.integration.spec.ts
Labels: bug, component:Item

#1918 Create Item Sliding component
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/item-sliding-example/examples/item-sliding-conditional-example.component.ts
  apps/cookbook/src/app/examples/item-sliding-example/examples/item-sliding-simple-example.component.ts
  apps/cookbook/src/app/examples/item-sliding-example/item-sliding-example.component.ts
  apps/cookbook/src/app/examples/item-sliding-example/item-sliding-example.module.ts
  apps/cookbook/src/app/showcase/item-sliding-showcase/item-sliding-showcase.component.html
  apps/cookbook/src/app/showcase/item-sliding-showcase/item-sliding-showcase.component.ts
  apps/cookbook/src/app/showcase/showcase.common.ts
  apps/cookbook/src/app/showcase/showcase.routes.ts
  libs/core/designsystem/src/lib/components/chart/chart-js/chartjs-plugin-marker/types/index.d.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/components/item-sliding/index.ts
  libs/designsystem/src/lib/components/item-sliding/item-sliding.component.html
  libs/designsystem/src/lib/components/item-sliding/item-sliding.component.scss
  libs/designsystem/src/lib/components/item-sliding/item-sliding.component.spec.ts
  libs/designsystem/src/lib/components/item-sliding/item-sliding.component.ts
  libs/designsystem/src/lib/components/item-sliding/item-sliding.shared.scss
  libs/designsystem/src/lib/components/item-sliding/item-sliding.types.ts
  libs/designsystem/src/lib/components/list/list-experimental/list-experimental.component.ts
  libs/designsystem/src/lib/components/list/list-swipe-action.type.ts
  libs/designsystem/src/lib/components/list/list.component.scss
  libs/designsystem/src/lib/helpers/element-has-ancestor.ts
  libs/designsystem/src/lib/helpers/index.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/testing-base/src/lib/components/mock.item-sliding.component.ts
  libs/designsystem/testing-base/src/lib/mock-components.ts
Labels: component:List, component:Item

#1882 Extending kirby-chart with stock type
  apps/cookbook/src/app/examples/chart-example/chart-example.module.ts
  apps/cookbook/src/app/examples/chart-example/examples/chart-example-stock.comparison.component.ts
  apps/cookbook/src/app/examples/chart-example/examples/chart-example-stock.component.ts
  apps/cookbook/src/app/shared/api-description/api-description-properties/api-description-properties.component.html
  apps/cookbook/src/app/shared/api-description/api-description.shared.scss
  apps/cookbook/src/app/showcase/chart-showcase/chart-showcase.component.html
  apps/cookbook/src/app/showcase/chart-showcase/chart-showcase.component.ts
  libs/designsystem/ng-package.json
  libs/designsystem/package.json
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.integration.spec.ts
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.spec.ts
  libs/designsystem/src/lib/components/chart/chart-js/chart-js.service.ts
  libs/designsystem/src/lib/components/chart/chart-js/chartjs-plugin-marker/chartjs-plugin-marker.d.ts
  libs/designsystem/src/lib/components/chart/chart-js/chartjs-plugin-marker/chartjs-plugin-marker.ts
  libs/designsystem/src/lib/components/chart/chart-js/configured-chart-js.ts
  libs/designsystem/src/lib/components/chart/chart-js/test-utils.ts
  libs/designsystem/src/lib/components/chart/chart.component.ts
  libs/designsystem/src/lib/components/chart/chart.types.ts
  libs/designsystem/src/lib/components/chart/configs/chart-config.service.spec.ts
  libs/designsystem/src/lib/components/chart/configs/global-defaults.config.ts
  libs/designsystem/src/lib/components/chart/configs/type.config.ts
  libs/designsystem/src/lib/helpers/deep-copy.ts
  libs/designsystem/testing-base/src/lib/components/mock.chart.component.ts
  package-lock.json
  package.json
  tsconfig.base.json
Labels: component:Chart
