Repository kirbydesign/designsystem, pull requests merged in 2021-04, with the labels that each got.

#1461 Enhancement/datemask
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/form-field-example/examples/input/date.ts
  apps/cookbook/src/app/examples/form-field-example/form-field-example.component.html
  apps/cookbook/src/app/examples/form-field-example/form-field-example.module.ts
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.html
  libs/designsystem/src/lib/components/form-field/_form-field-inputs.shared.scss
  libs/designsystem/src/lib/components/form-field/directives/date/date-input.directive.spec.ts
  libs/designsystem/src/lib/components/form-field/directives/date/date-input.directive.ts
  libs/designsystem/src/lib/components/form-field/index.ts
  libs/designsystem/src/lib/components/form-field/input/input.component.scss
  libs/designsystem/src/lib/kirby.module.ts
  package-lock.json
  package.json
Labels: component:Input

#1474 🐛 Change modal size global classes to be prefixed
  libs/designsystem/src/lib/components/modal/modal-wrapper/modal-wrapper.component.scss
  libs/designsystem/src/lib/components/modal/services/modal.helper.spec.ts
  libs/designsystem/src/lib/components/modal/services/modal.helper.ts
  libs/designsystem/src/lib/scss/_global-styles.scss
Labels: component:Modal

#1289 Feature/component range 1071
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/range-example/examples/default.component.ts
  apps/cookbook/src/app/examples/range-example/examples/disabled.component.ts
  apps/cookbook/src/app/examples/range-example/examples/pin.component.ts
  apps/cookbook/src/app/examples/range-example/examples/step.component.ts
  apps/cookbook/src/app/examples/range-example/range-example.component.html
  apps/cookbook/src/app/examples/range-example/range-example.component.scss
  apps/cookbook/src/app/examples/range-example/range-example.component.ts
  apps/cookbook/src/app/examples/range-example/range-example.module.ts
  apps/cookbook/src/app/showcase/range-showcase/range-showcase.component.html
  apps/cookbook/src/app/showcase/range-showcase/range-showcase.component.scss
  apps/cookbook/src/app/showcase/range-showcase/range-showcase.component.ts
  apps/cookbook/src/app/showcase/showcase.common.ts
  apps/cookbook/src/app/showcase/showcase.routes.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/components/range/range.component.html
  libs/designsystem/src/lib/components/range/range.component.scss
  libs/designsystem/src/lib/components/range/range.component.ts
  libs/designsystem/src/lib/kirby.module.ts
  libs/designsystem/testing-base/src/lib/components/mock.range.component.ts
  libs/designsystem/testing-base/src/lib/mock-components.ts
Labels: component:Range

#1493 ✨ Add decimal mask directive
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/form-field-example/examples/input/decimal-mask.ts
  apps/cookbook/src/app/examples/form-field-example/form-field-example.module.ts
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.html
  apps/cookbook/src/app/showcase/form-field-showcase/form-field-showcase.component.ts
  libs/designsystem/src/lib/components/form-field/directives/decimal-mask/decimal-mask.directive.spec.ts
  libs/designsystem/src/lib/components/form-field/directives/decimal-mask/decimal-mask.directive.ts
  libs/designsystem/src/lib/components/form-field/index.ts
  libs/designsystem/src/lib/kirby.module.ts
Labels: component:Input

#1516 Fix/range unused styles
  libs/designsystem/src/lib/components/range/range.component.scss
Labels: component:Range
