Repository kirbydesign/designsystem, pull requests merged in 2022-10, with the labels that each got.

#2520 Using kirby black on ion-tool bar and ion-content instead of using black
  libs/designsystem/src/lib/components/page/page.component.scss
Labels: 🧑‍🎨 Needs UX

#2501 Feature/local navigation
  apps/cookbook/src/app/app.module.ts
  apps/cookbook/src/app/examples/examples.module.ts
  apps/cookbook/src/app/examples/examples.routes.ts
  apps/cookbook/src/app/examples/experimental-examples/components/index.ts
  apps/cookbook/src/app/examples/experimental-examples/components/page-local-navigation/page-local-navigation-example.component.ts
  apps/cookbook/src/app/examples/experimental-examples/experimental-examples.module.ts
  libs/designsystem/src/lib/components/index.ts
  libs/designsystem/src/lib/components/page-local-navigation/index.ts
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation-item.ts
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.html
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.scss
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.spec.ts
  libs/designsystem/src/lib/components/page-local-navigation/page-local-navigation.component.ts
  libs/designsystem/src/lib/components/page/index.ts
  libs/designsystem/src/lib/components/page/page.component.html
  libs/designsystem/src/lib/components/page/page.component.scss
  libs/designsystem/src/lib/components/page/page.component.ts
  libs/designsystem/src/lib/components/page/page.module.ts
  libs/designsystem/src/lib/index.ts
  libs/designsystem/src/lib/kirby-experimental.module.ts
  libs/designsystem/testing-base/src/lib/components/mock.page.component.ts
Labels: merge:ready

#2472 Fix no automatic close of fab-sheet on item click.
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.html
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.scss
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.spec.ts
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.ts
Labels: bug, component:FAB Sheet

#2555 Change position of tabbar badges
  libs/designsystem/src/lib/components/fab-sheet/fab-sheet.component.spec.ts
  libs/designsystem/src/lib/components/tabs/tab-button/tab-button.component.html
  libs/designsystem/src/lib/components/tabs/tab-button/tab-button.component.scss
Labels: enhancement, component:Tabs
